<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tars登录</title>
    <link rel="stylesheet" href="/css/auth/sign.css" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div class="sign-wrap">
    <h2 class="sign-head">请登录</h2>
    <table class="sign-table">
        <tr><td class="tr">用户名</td><td class="tl"><input type="text" name="userName" id="userName" /></td></tr>
        <tr><td class="tr">密码</td><td  class="tl"><input type="password" name="password" id="password" /></td></tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="登录" id="loginBtn" />
                <p><a href="/auth/register.html" class="sign-switch">没有账号，前往注册</a></p>
            </td>
        </tr>
    </table>
</div>
<script>
    $(function(){
        $('#userName,#password').on('keydown',function(e){
            if(e.keyCode == 13){
                $('#loginBtn').click();
            }
        });
        $('#loginBtn').on('click', function(){
            var userName = $('#userName').val()
            var password = $('#password').val()
            if(!userName || !password){
                alert('请填写完整登录信息');
                return;
            }
            $.ajax({
                url: '/api/auth/login',
                data: {userName: userName, password: password},
                type: 'post',
                success: function(data){
                    if(data.ret_code == 200){
                        location.reload();
                    }else{
                        alert(data.err_msg);
                    }
                },
                error: function(){
                    alert('登录失败');
                }
            })
        });
    });
</script>
</body>
</html>