<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
    <h1><%=message%></h1>
    <h2><%=error.status%></h2>
    <%=error.stack%>
</body>
</html>