<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koa ejs test</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
this is Index Page
    <%=title%>
    <%=a%>
    <div>
        #common.text1#
    </div>
</body>
</html>