<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koa ejs test</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
this is Index Page
    <%=title%>
    <%=a%>
    <div>
        #common.text1#
    </div>


<script>
    var ajax = new XMLHttpRequest();

    ajax.open('POST','/api/add_config_file',true);
    ajax.setRequestHeader('Content-type','application/x-www-form-urlencoded');
    ajax.send('id=3333');
</script>
</body>
</html>