<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koa ejs test</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="http://tars.wsd.com/js/jquery.min.js"></script>
</head>
<body>
this is Index Page
    <%=title%>
    <%=a%>
    <div>
        #common.text1#
    </div>


<script>
    /*var ajax = new XMLHttpRequest();

    ajax.open('POST','/api/add_config_file',true);
    ajax.setRequestHeader('Content-type','application/x-www-form-urlencoded');
    ajax.send('level=5&application=""');*/
</script>
</body>
</html>