.market_page {
    width: 500px;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

.top_txt {
    font-size: 16pt;
    margin: 10px;
}

.captcha_box {
    display: flex;
}

.captcha_code {
    cursor: pointer;
    display: block;
    height: 40px;
    margin-left: 20px;
    border-radius: 3px;
}

.btn_long {
    width: 50%;
    color: #fff;
    height: auto;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 12px;
    border-radius: 3px;
    margin-bottom: 14px;
}

.sub_menu {
    text-align: center;
}

.sub_menu a {
    cursor: pointer;
    color: rgb(33, 10, 233);
    font-size: 14px;
    float: none !important;
}

.top_txt {
    border-bottom: 1px solid #f3f3f3ba;
    line-height: normal;
    margin-bottom: 16px;
}

.top_txt h1 {
    margin-top: 0;
    padding-left: 40px !important;
    border-bottom: none !important;
    line-height: 45px !important;
}

.top_txt span,
.bot_txt span {
    float: right;
    line-height: 45px;
    padding-right: 20px;
    font-size: 13px !important;
    color: #666;
}

.bot_txt {
    text-align: center;
}

.bot_txt span {
    text-align: center;
    float: none;
    line-height: 30px;
}
