@font-face {
  font-family: 'Lato';
  src: url('./Lato-Bold.eot');
  src:
    url('./Lato-Bold.eot?#font-spider') format('embedded-opentype'),
    url('./Lato-Bold.woff2') format('woff2'),
    url('./Lato-Bold.woff') format('woff'),
    url('./Lato-Bold.ttf') format('truetype'),
    url('./Lato-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('./Lato-Regular.eot');
  src:
    url('./Lato-Regular.eot?#font-spider') format('embedded-opentype'),
    url('./Lato-Regular.woff2') format('woff2'),
    url('./Lato-Regular.woff') format('woff'),
    url('./Lato-Regular.ttf') format('truetype'),
    url('./Lato-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('./Lato-Light.eot');
  src:
    url('./Lato-Light.eot?#font-spider') format('embedded-opentype'),
    url('./Lato-Light.woff2') format('woff2'),
    url('./Lato-Light.woff') format('woff'),
    url('./Lato-Light.ttf') format('truetype'),
    url('./Lato-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}